{% extends 'Shared/Base.html' %}
{% block content %}
   <div class="e-forgotpassword-wrap e-forgotpassword-cloth">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="e-fp-box">
                    <form action="{% url "Users:changepassword" %}" method="post" id="Passchange_form" novalidate>
                        <div class="row">
                            {% csrf_token %}
                            <div class="col-md-12">
                            </div>
                             <div class="col-md-12">
                               <div class="e-form-field mb-20">
                                    <label>رمز عبور فعلی</label>
                                   {{ form.CurrentPassword }}

                                   <div class="password_error" id="currentpassword"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                               <div class="e-form-field mb-20">
                                    <label>رمز عبور </label>
                                   {{ form.Password }}
                                   <div class="password_error" id="newpassword"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="e-form-field mb-20">
                                    <label>تکرار رمز عبور</label>
                                    {{ form.RePassword }}
                                    <div class="password_error" id="newrepassword"></div>
                                    <div class="password_error" id="matchpassword"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="">
                                    <button type="submit" class="e-btn">تغییر رمز عبور</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}