{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/font.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/comman.css'%}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
  <link rel="stylesheet" href="{% static 'assets/css/custom.css'%}">
  <!-- Favicon Link -->
  <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/index1/favicon.png' %}">
  <title>شاپ مارشو - قالب فروشگاهی ریسپانسیو HTML</title>
</head>